@model Blog.Models.Post
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo</title>
</head>
<body>
    @using (Html.BeginForm("Adiciona", "Post"))
    {
        @Html.EditorFor(p => p);

        <button type="submit">Cadastrar</button>
    }
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
</body>
</html>
