<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resenha Cultural</title>
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/estilo.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <main>
        @RenderBody()
    </main>
    <aside></aside>
    <footer></footer>
    @RenderSection("Scripts", false)
</body>
</html>
